@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = this.Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        We use cookies to understand how you use our site and to improve your experience. <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn More</a>.
        <a style="position: absolute; top: 0; right: 0; padding:0.75rem 1.25rem; cursor: pointer;" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">Accept</a>
    </div>
    <script>
        (function () {
            var link = document.querySelector("#cookieConsent a[data-cookie-string]");
            link.addEventListener("click", function () {
                document.cookie = link.dataset.cookieString;
            }, false);
        })();
    </script>
}
