@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 offset-md-1">
                <div class="mb-5">
                    <h1>Logout</h1>
                    <p class="lead">You have successfully logged out of the application.</p>
                </div>
            </div>
        </div>
    </div>