@using ELearn.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="page-hero bg-primary text-white" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8  offset-lg-2 text-center">
                <div class="title">
                    <h1 class="display-2 text-white">ELearn</h1>
                    <h4 class="text-white">A new design system for developing with less effort.</h4>
                </div>
            </div>
        </div>
    </div>
</div>

